name: "Close Stale Pull Requests"

on:
  schedule:
    - cron: "30 3 * * *" 
  workflow_dispatch: 

permissions:
  pull-requests: write

jobs:
  close-stale-prs:
    runs-on: ubuntu-latest
    steps:
      - name: Close Stale PRs
        uses: actions/stale@v10.1.0
        with:
          days-before-pr-stale: 30
          days-before-pr-close: 0
          stale-pr-message: "This pull request has been inactive for 30 days and is now being closed automatically."
          close-pr-message: "Closing this pull request due to 30 days of inactivity."
          only-prs: true
